@font-face {
    font-family: 'Plex';
    src: url('ibm-plex-mono-regular.woff2') format('woff2'),
         url('ibm-plex-mono-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: Plex, 'Courier New', Courier, monospace;
    line-height: 2em;
    font-size: small;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: auto [content] 500px auto;
  }

  @media screen and (max-width: 500px) {
    .wrapper {
      grid-template-columns: auto [content] 100% auto;
    }
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: black 1px dashed ;
  }
  
  a:hover {
    color: olive;
    border-bottom: olive 1px dashed ;
  }

  img {
    grid-column: content;
    width: 100%;
    height: auto;
  }

  h1 {
    grid-column: content;
    border-bottom-width: 2pt;
    border-bottom-style: solid;
  }

  p {
    grid-column: content;
  }

  p.small {
    font-size: smaller;
    color: darkgrey;
  }


  